body {
	font-family: 'Montserrat', sans-serif;

}

p {

}

.header {
	background: black;
}


.container {
	margin: 0 auto;
	width: 1170px;
	height: 1000px;
}

.wrapper {
	display: flex;
}


.offer {
	color: white;
	margin-top: 300px;
}


.title {
	font-size: 80px;
	font-weight: 900;

}

.intro {
	font-size: 30px;
	font-weight: 400;
	color: white;
}

.red {
	color: #f24841;
}




.p1 {
	font-size: 45px;
	font-weight: 900;
	width: 600px;
	margin-top: 200px;

}

.p2 {
	font-weight: 400;
	font-size: 30px;
	width: 500px;
		margin-top: 200px;


}

.phone {
	color: white;
	font-size: 15px;
	font-weight: 900;
	background: #f24841;
	width: 150px;
	height: 50px;
	display: block;
	text-align: center;
	margin-top: 50px;
}


.content{
	display: flex;
}


.Modal {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: rgba(0,0,0,0.7);
    pointer-events: none;
}
.Modal:target {
    display: flex;
    pointer-events: auto;
} 
.Modal_Body {
    position: relative;
    z-index: 2;
    display: block;
    margin: auto;
    padding: 15px;
    background: #FFF;
}
.ModalFull {
  position: absolute;
  display: block;
  z-index: 0;
  width: 100%;
  height: 100%;
}